
.container,
.infoContainer {
    display: flex;
    align-items: center;
    width: 100%;
}

.container {
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 900px;
}

.infoContainer {
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.img {
    width: 35%;
}

/* 
    || Typography
*/

.title,
.location,
.date {
    text-align: center;
    margin: 5px;
}