
.container,
.infoContainer {
    display: flex;
    align-items: center;
    width: 100%;
}

.container {
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 900px;
}

.infoContainer {
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.img {
    width: 100%;
    max-width: 250px;
}

/* 
    || Typography
*/

.title,
.location,
.date {
    text-align: center;
    margin: 5px;
}

@media screen and (min-width: 769px) {
    .container {
        flex-direction: row;
    }

    .infoContainer {
        width: 50%;
    }
}