
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    flex: 1;
    border: 1px solid magenta;
}

.bodyContainer {
    display: flex;
    flex: 1;
}