
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    width: 95%;
    max-width: 1080px;
    margin: 0px auto;
    flex: 1;
}

.headerContainer {
    min-width: 100%;
}

.bodyContainer {
    display: flex;
    flex: 1;
    min-width: 100%;
}