
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
    max-width: 650px;
}

.imageContainer {
    min-height: 50%;
    max-height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image {
    width: 100%;
    max-width: 500px;
}

.desc {
    width: 95%;
    text-align: center;
    margin-top: 0px;
}

.isFocus {
    max-width: 650px;
}

.halfWidth {
    width: 100%;
}

@media screen and (min-width: 769px) {
    .halfWidth {
        max-width: 50%;
    }
}


